:root {
    --white: #fff;
    --gray: #919191;
    --lima: #79bf0f;
    --christi: #68ad0d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: GilroySemiBold;
}

/* Fonts */
@font-face {
    font-family: GilroySemiBold;
    src: url(/assets/fonts/Gilroy-Semibold.otf) format("opentype");
}

/* a tag */
a {
    text-decoration: none;
}

/* Image user select none */
img {
    user-select: none;
}

/* Body */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/img/backgrounds/coming-soon-bg.jpg);
    background-size: cover;
    height: 100vh;
}

/* Header */
.header {
    position: absolute;
    top: 25px;
}

.header img {
    height: 27px;
}

.header p {
    font-size: 18px;
}

/* 3D effect text shadow */
h1 {
    text-shadow: 1px 1px 1px var(--gray),
        1px 2px 1px var(--gray),
        1px 3px 1px var(--gray),
        1px 4px 1px var(--gray),
        1px 5px 1px var(--gray),
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

/* Social media links */
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--christi);
    background: linear-gradient(to right, var(--christi), var(--lima));
}

.social-link:hover {
    -webkit-box-shadow: 0px 3px 15px 0px var(--christi);
    box-shadow: 0px 3px 15px 0px var(--christi);
    transition: .3s;
}

.social-link i {
    font-size: 22px;
    color: var(--white);
}

/* Footer [Bottom] */
.footer {
    position: absolute;
    bottom: 25px;
}

.footer p {
    font-size: 18px;
}